<div class="view404">
	<img class="view404-logo" src="https://cdn.jsdelivr.net/gh/duogongneng/OneMyBlogImg@master/20220906150114.png" alt="" srcset="">
	<p>该页面不存在啦(´･ω･`) </p>
	<div class="view404-btn">
		<a href="/" class="goindex">返回首页</a>
	</div>
	<img class="view404-background" src="https://cdn.jsdelivr.net/gh/duogongneng/OneMyBlogImg@master/20220906150455.png" alt="" srcset="">
</div>

<style>
	body {
		background-color: #f7f7f7;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #3c3c3c;
	}	

	body .footer{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.view404{
		width: 100%;
		min-height: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.view404 .view404-logo{
		width: 200px;
		margin-top: 100px;
	}

	.view404 p{
		text-align: center;
		font-family: cursive;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5px;
		color: #333;
		margin: 30px 0;
	}

	.view404-background{
		width: auto;
	}

	.view404-btn {
		width: 100px;
		height: 40px;
		border: 1px solid rgb(90, 90, 90);
		text-align: center;
		border-radius: 5px;
		margin: 30px auto;
		cursor: pointer;
		transition: all 0.5s;
	}

	.view404-btn a {
		display: inline-block;
		width: 100%;
		height: 100%;
		line-height: 40px;
		text-decoration: none;
		color: rgb(90, 90, 90);
		font-size: 1.2em;
	}

	.view404-btn:hover {
		border: 1px solid #333333;
		background: #333333;
	}

	.view404-btn a:hover {
		color: #fff;
	}
</style>