<div class="header-body-background">
    <div class="header-body-background-content">
        <span>
            <img src="<%- icon %>" alt="Quiet">
        </span>

        <h2><%- message %></h2>
    </div>
</div>