<%- css('css/food.css') %>
<div class="footer">
	<div class="Copyright">
		©<%= new Date().getFullYear() %> By <%- theme.author %>. 主题：<a style="text-decoration: none; color: #898F9F;"
			href="https://github.com/qiaobug/hexo-theme-quiet">Quiet</a>
	</div>
	<div class="contact">
		<a href="https://www.79bk.cn/"></a>
	</div>
</div>